﻿<div id="msrConfig" title="Card Swiper Configuration">
    <table class="msr-config">
        <tr>
            <th>Device:</th>
            <td>
                <select name="MSRDevice" id="msrDevice">
                    <option value="UICCDC">UIC</option>
                    <option value="IDTechCDC">IDTech</option>
                </select>
            </td>
            <td class="spacer"></td>
            <th>Port:</th>
            <td>
                <select name="MSRComPort" id="msrComPort">
                    <option value="COM1">1</option>
                    <option value="COM2">2</option>
                    <option value="COM3">3</option>
                    <option value="COM4">4</option>
                    <option value="COM5">5</option>
                    <option value="COM6">6</option>
                    <option value="COM7">7</option>
                    <option value="COM8">8</option>
                    <option value="COM9">9</option>
                    <option value="COM10">10</option>
                    <option value="COM11">11</option>
                    <option value="COM12">12</option>
                    <option value="USB">USB</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Baud Rate:</th>
            <td>
                <select name="MSRBaudRate" id="msrBaudRate">
                    <option selected="selected" value="">N/A</option>
                    <option>1200</option>
                    <option>2400</option>
                    <option>9600</option>
                    <option>57600</option>
                    <option>115200</option>
                </select>
            </td>
            <td class="spacer"></td>
            <th>Data Bits:</th>
            <td>
                <select name="MSRDataBits" id="msrDataBits">
                    <option selected="selected" value="">N/A</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Stop Bits:</th>
            <td>
                <select name="MSRStopBits" id="msrStopBits">
                    <option selected="selected" value="">N/A</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </td>
            <td class="spacer"></td>
            <th>Parity Bits:</th>
            <td>
                <select name="MSRParityBits" id="msrParityBits">
                    <option selected="selected" value="">N/A</option>
                    <option>1</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="info-box" id="msrConfigMessage">
        Message here
    </div>
</div>
