﻿<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<html>
<head>
    <title></title>
    <link href="style/payment_form.css" rel="stylesheet" type="text/css" />
    <link href="style/sexybuttons.css" rel="stylesheet" type="text/css" />
    <!-- %%STYLES%% -->
    <!-- %%HEAD_SCRIPTS%% -->
</head>
<body>
    <noscript><strong>This page requires Javascript. Please enable Javascript and refresh the page to continue.</strong>      </noscript>
    <form method="post">
        <table width="100%" height="100%" style="display: none;" id="container">
            <tr>
                <td valign="middle" align="center">
                    <div id="paymentFormContainer">
                        <div class="paymentForm" id="paymentForm">
                            <div class="header">BILLING INFORMATION</div>
                            <div class="section">
                                <div id="timer">Time left: <span id="timeLeft"></span></div>
                                <div class="instruction address-note">(Must match the billing address for your credit card)</div>
                                <div class="field">
                                    <label>Name:</label>
                                    <input type="text" name="BillToName" value="<!--[BillToName]required-->" class="field" size="45" />
                                </div>
                                <div class="field">
                                    <label>Address:</label>
                                    <input type="text" name="BillToStreet" value="<!--[BillToStreet]required-->" class="field" size="45" />
                                </div>
                                <div class="field">
                                    <label>Zip:</label>
								    <span>
									    <input type="text" name="BillToZip" class="field" size="14" value="<!--[BillToZip]required-->" />
								    </span>
                                </div>
                                <div class="field">
                                    <input type="hidden" name="SoftwareVendor" value="<!--[SoftwareVendor]-->" />
                                </div>
                            </div>
                            <div class="header">PAYMENT INFORMATION</div>
                            <div class="payment-details section">
                                <div class="field">
                                    <label>Payment Method:</label>
                                    <!--[CardTypeName]required-->
                                    <div id="card-images"><!--[PaymentTypeImages]--></div>
                                </div>
                                <div class="field cc">
                                    <label>Card Number:</label>
                                    <input type="text" name="CardNumber" value="<!--[CardNumber]required-->" class="field" size="20" maxlength="16" />
                                </div>
                                <div class="field cc">
                                    <label>Exp. Date:</label>
                                    <span><!--[CardExpMonth]required--></span> / 
								    <span><!--[CardExpYear]required--></span>
                                </div>
                                <div class="field captcha">
                                    <div id="html_element">
                                    </div>
                                </div>
                            </div>
                            <div class="error">
                                <!--[r_Message]--><!--[ValidationErrors]-->
                            </div>
                            <div class="button-container">
                                <button class="sexybutton" type="submit" value="MAKE PAYMENT"><span><span><span class="ok">SUBMIT</span></span></span></button>  
							    <button class="sexybutton" type="reset" value="CLEAR FORM"><span><span><span class="redo">CLEAR FORM</span></span></span></button>
                                <!-- CancelPayment -->
                                <button class="sexybutton cancel" type="button" value="CANCEL"><span><span><span class="redo">CANCEL</span></span></span></button>
                                <!-- /CancelPayment -->
                            </div>
                        </div>
                        <span class="poweredby">Powered by <a href="http://www.bridgepaynetwork.com/" target="_blank">Bridgepay Network Solutions.</a></span>              
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <!-- {{ thawte }} -->
    <!-- {{ align }} -->
    <!-- {{ msr_config }} -->
    <!-- %%BODY_SCRIPTS%% -->
</body>
</html>
