﻿body {margin: 0; font-family: Verdana,Arial,Helvetica,sans-serif; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: url(../images/background.png); background-size: cover;}
form { margin: 0;}
select[disabled] { background-color: #EBEBE4; }
option[disabled] { background-color: #EBEBE4; }
        
.instruction {font-size: 11px; font-weight: normal;}
.label { font-size: 10px; font-weight: bold; text-transform: uppercase; width: 125px;}
.clear { clear:both; }

.amount { }
.payment_method_logo {margin: 0 2px 0 2px;}
.cc, .check {display: none;}
.formError {color: Red; font-size: .9em;}
.error {color: Red; font-size: .9em; font-style: italic;}
.poweredby {color: #010149; font-size: .7em;}
.whatisthis { font-size: 8pt; }
.field.validation-error { border: 1px solid red; background-color: #FFEAEA;}
#msrConfigMessage { margin: 10px 0; display: none; }
#btnConfigureSwipe { position: absolute; font-size: .7em; right: 0;}
.info-box {
    border: 1px solid silver;
    background-color: #FAFAB9;
    border-radius: 4px;
    text-align: center;
    padding: 10px; 
}

input.field, select.field {border: 1px solid #B8B8B8; border-radius: 5px; color: #000099; font-size: 12px; font-weight: bold; height: 20px; padding-left: 2px; text-align: left; margin-right: 2px;} 
.textareaDiv{height:50px; vertical-align:top}
#container { position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
#paymentFormContainer { width: 650px; position: relative; }
#paymentForm { 
    margin: auto; 
    border: 1px solid #ccc; 
    border-collapse: collapse; 
    border-radius: 8px; 
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.22);
}
#paymentForm > div.header:first-child { border-top-left-radius: 8px; border-top-right-radius: 8px; }
#paymentForm div.section {text-align: left; padding: 2em 0 .5em 2.5em;}
#paymentForm .field label {display: inline-block; width: 150px; font-family: "Century Gothix"; }
div.preferred-payment-method { text-align: center; font-size: .8em; }
div.section { position: relative; }
#card-images{ float: right; position: relative; right: 35px; }
div.field { height: 2.3em;}
div.field.card-images {margin-bottom: 10px;}
td.spacer { width: 20px; }
#timer { width: 20em; text-align: right; position: absolute; right: 0; top: 0; font-size: .7em; padding: .3em; }

.button-container { text-align: center; margin: 20px 20px 20px 0 ; }
.address-note { margin: 0 0 10px 0;}
.header {
    border: 1px solid #ccc;
    background-image: url('textures/highlight.png');
    background-image: none,-webkit-linear-gradient(top,#fefefe 0,#e7e7e7 100%);
    background-image: none,-moz-linear-gradient(top,#fefefe 0,#e7e7e7 100%);
    background-image: none,-o-linear-gradient(top,#fefefe 0,#e7e7e7 100%);
    background-image: none,linear-gradient(to bottom,#fefefe 0,#e7e7e7 100%);
    background-position: 50% 50%;
    background-color: #fff;
    margin: -1px -1px 0 -1px;
    padding: 3px 0 3px 0;
    color: #336699;
    /* font-weight: bold; */
    font-family: tahoma;
    font-size: 16pt;
}

#paymentForm .label { padding-left: 20px; }
#thawteseal { position: absolute; left: 0; bottom: 0; }
#alignLogo { position: absolute; right: 0; bottom: 0;}
#HWApplet { visibility: hidden; position: absolute; width: 1px; height: 1px; }
#msrConfig { display: none; }
#swipeButtons { margin-left: 20px; }
span.msr-info-text { 
    font-size: .8em; 
    margin: 25px;
    display: inline-block;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 4px;
    background-color: #FAF7BB;
}

a.configure-msr { margin: 2px; color: #0BA6F0; text-decoration: none;}

table.msr-config { font-size: 100%; }
table.msr-config th { text-align: left; }

div.ui-widget { font-size: 72.5%; }

div.no-cookies {
    width: 400px;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid silver;
    height: 60px;
    padding: 10px;
    border-radius: 6px;
    background-color: #F9F3D6;
}

div.no-cookies > img { margin: 5px 10px 10px 10px; float: left; }
div.no-cookies > span {}

#processingRequest {
    width: 360px;
    margin: auto;
    margin-top: 20px;
    /*border: 1px solid silver;
    border-radius: 6px;
    background-color: #F9F3D6;*/
    font-size: 14pt;
    padding: 5px;
}

#processingRequest > img { float: left; margin: 5px; }

em {
    font-weight:bold;
    font-size:1.5em;
}
.captcha {
    height:100px important;
    padding-bottom:30px;
    margin-bottom:20px;
}
.loading-mask{  position: fixed;
    width: 100%;
    height: 100%;
    background: black url(../images/loading-image.gif) center center no-repeat;
    opacity: .5;
    display:none;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    margin: 5px 0px 0px -20px;
    padding: 0;
    width: 0px;
    background-color: #fff; 
    border: none; 
    color: DodgerBlue;
    font-size: 16px;
    cursor: pointer;
    height: 0px;
}

.custom-combobox-input {
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    color: #000099;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding-left: 2px;
    text-align: left;
    margin-right: 2px;
    width:40px;
}

.custom-combobox a {
    height: 20px;
}
.ui-autocomplete {
    height: 100px;
    overflow-y: auto;
}