﻿body {font-family: Verdana; }

h3 { font-size: 1.4em; color: #336699; margin-bottom: 5px; }
h2 { font-size: 1.3em; color: #336699; margin-bottom: 0; }
li { list-style: none;}

hr {border-bottom: 2px solid #336699;}

table.receipt {width: 500px; border: 2px solid #336699;}
table.details, table.split-details {width: 100%; margin-bottom: 10px;}
table.details th {text-align: left; white-space: nowrap; font-size: .8em; padding-left: 20px; }
table.details td, table.split-details {font-size: .9em; text-align: right;}

table.split-details th { text-align: right; white-space: nowrap; font-size: .9em; }

.instructions {font-size: .9em;}
.right {float: right;}
.clear { clear: both; }

div.logo { float: left; }
div.merchant-name { float: right; font-size: 1.3em; color: #336699;}

.partial-approval { font-size: .8em; color: red; }
.partial-approval > img { vertical-align: top; }