﻿body {font-family: Verdana; margin: 10px 10px;}
h1 {background-color: #003366; font-size: 1.3em; color: White; font-weight: normal; padding: 10px 15px; margin: 0px;}
h2 {font-size: 1em;}
td.customFields {background-color: #DCDCDC;}
span.customFields {font-weight: bold; font-size: 1.3em;}
.fields {border: 1px solid #DCDCDC;}
.fields th {background-color: #DCDCDC; border-right: 2px solid white;}
.fields td:nth-child(2) { white-space: nowrap; }
.fields td input[type='text'] {width: 200px;}
.authdotnet {display: none;}
        
.center {text-align: center;}
.note {border: 1px solid #CBC79A; background-color: #F1F1BE; font-style:italic; padding: 2px 4px; display: inline; margin: 5px 0;}
.note img {vertical-align: bottom;}
img.remove-split-transaction { float: left; }